@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}

.purples {
  font-family: "Rocher";
  font-palette: --Purples;
  text-align: center;
  font-size: 3rem;
}

.nav-link {
  transition: all 0.2s;
}

.nav-link:hover {
  color: rgb(255, 255, 255) !important;
  text-decoration: underline;
  /* font-weight: bold; */
  /* border-bottom: 1px solid white; */
}

#meuCarrossel {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0.5px 10px 15px rgba(0, 0, 0, 0.2);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 4rem;
  height: 4rem;
  background-color: black;
  border-radius: 50%;
}

.corpo {
  background-image: url(../../public/a.png);
  /* background-image: linear-gradient(black, white); */
  /* background-color: #cccccc; */
  background-size: 40px;
  background-repeat: repeat;
  /* color: transparent; */
  /* -webkit-background-clip: text; */
  /* background-clip: text; */
}

.aviso {
  font-size: 40px;
  font-weight: 600;
  background-image: linear-gradient(to left, #1b26b8, #e70d2d);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
